%section.content-header
  %h1 Locations
%section.content
  .row
    .col-xs-12
      .box
        .box-body
          %table.table.table-bordered.table-striped.table-hover
            %thead
              %tr
                %th Name
                %th Type
                %th Description
                %th Address
                %th Capacity
            %tbody
              - locations.each do |location|
                - @location = location.object
                %tr
                  %td= link_to location.name, @location
                  %td= location.location_type
                  %td= location.description
                  %td= location.address
                  %td= location.max_capacity
        .box-footer
          - if policy(Location).new?
            %a.btn.btn-primary.pull-left{href: new_location_path} New
