%html
  %head
    %title YP Registration

    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag [href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"]
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body.fixed.skin-blue
    .wrapper
      = render "layouts/navigation/header"
      = render "layouts/navigation/sidebar"
      .content-wrapper
        = yield
      = render "layouts/navigation/footer"
