!!!
/[if IE 9 ] <html class="ie ie9" lang="en" class="no-js">
/ [if !(IE)]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head

    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= "#{params[:controller].capitalize} | YP Registration"
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "YPReg - Event Registration", :name => "description"}/
    %meta{:content => "Hector D. Felix (hdfnet@gmail.com)", :name => "author"}/

    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag [href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"]

  %body.fixes.skin-blue
    .dashboard
      .wrapper
        - if flash[:notice]
          .alert.alert-success.top-general-alert
            %a.close{:type => "button"} ×
            = flash[:notice]
        - elsif flash[:error]
          .alert.alert-danger.top-general-alert
            %a.close{:type => "button"} ×
            = flash[:error]
        - elsif flash[:alert]
          .alert.alert-danger.top-general-alert
            %a.close{:type => "button"} ×
            = flash[:alert]

        = render "layouts/navigation/layout"

        .col-md-10.content-wrapper
          .row
            .col-lg-4
              %ul.breadcrumb
                %li
                  %i.fa.fa-home
                  %a{href: dashboard_index_path} Home
                %li.active= params[:controller].capitalize
            .col-lg-8
              .top-content
                %ul.list-inline.mini-stat
                  %li
                  %li
                  %li
  
                = yield

        = render "layouts/navigation/footer"
