%header.main-header
  = link_to "YPREG", dashboard_index_path
  %h1.sr-only YPReg Dashboard

  #tour-searchbox.input-group.searchbox
    %input.form-control{disabled: "disabled", placeholder: "", type: "search"}/
    %span.input-group-btn
      %button.btn.btn-default{type: "button"}
        %i.fa.fa-search

  %nav.navbar.navbar-static-top{role: 'navigation'}
    %i.fa.fa-bars
      .notifications
        %ul
        - if current_user
          .logged-user
            .btn-group
              %a#loggedUserDropdown.btn.btn-link.dropdown-toggle{'data-toggle': "dropdown", href: "#"}
                = succeed "\u{a0}\u{a0}" do
                  %span.name= current_user.name
                %span.caret
              %ul.dropdown-menu{"aria-labelledby": "loggedUserDropdown", role: "menu"}
                %li
                  = link_to user_path(current_user) do
                    %i.fa.fa-user
                    %span.text Profile
                %li
                  %a{href: "#"}
                    %i.fa.fa-cog
                    %span.text Settings
                %li
                  = link_to  destroy_user_session_path, method: :delete do
                    %i.fa.fa-power-off
                    %span.text Logout

%div
  - if flash[:notice]
    .alert.alert-success.top-general-alert
      %a.close{:type => "button"} ×
      = flash[:notice]
  - elsif flash[:error]
    .alert.alert-danger.top-general-alert
      %a.close{:type => "button"} ×
      = flash[:error]
  - elsif flash[:alert]
    .alert.alert-danger.top-general-alert
      %a.close{:type => "button"} ×
      = flash[:alert]
