%section.content-header
  %h1
    = user.name
    %a.btn.btn-flat.btn-primary{href: edit_user_registration_path(@user)} Edit
    %a.btn.btn-flat.btn-danger{href: admin_user_path(@user), data: {confirm: 'Are you sure?', method: :delete}, ref: 'nofollow'} Delete
    - if policy(@user).destroy?
      - if current_user == @user
        = link_to "Delete my account", registration_path(resource_name, id: @user.id), method: :delete, data: {confirm: "Are you sure you want to delete your account?"},  class: 'btn btn-danger'
      - else
        = link_to "Delete", admin_user_path(@user), method: :delete, data: {confirm: "Are you sure?"},  class: 'btn btn-danger'
%section.content
  .row
    .col-md-6
      .box
        .box-body
          %strong Name:
          = user.name
          %strong Email:
          = user.email
          %strong Role:
          = user.role
          %strong Gender:
          = user.gender
          %strong Age:
          = user.age
          %strong Grade:
          = user.grade
          %strong Birthday:
          = user.birthday
          %strong Locality:
          = user.locality_city
          %strong Cell Phone:
          = user.cell_phone
          %strong Home phone:
          = user.home_phone
          %strong Work Phone:
          = user.work_phone
          -if @user.needs_background_check?
            %strong Last Background Check:
            %span{:class => "#{user.background_check_date_bg_class}"}
              = user.background_check_date_with_warning
          %strong Last Sign In:
          = user.last_sign_in_at
